.home_main_container {
    height: 555px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(7, 33, 80, 0.1) 45.31%, rgba(255, 255, 255, 0.00) 100%), url("../../assets/image_electric_towers.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.home_sociallogos_container {
    display: flex;
    justify-content: end;
}

.home_title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 106px;
}

.home_title {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title_stylist_words {
    color: #18CAFF;
}

.home_buttons_title_container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 65px;
}

.blue_button {
    width: 189px;
    height: 55px;
    padding: 5px;
    border-radius: 89px;
    background: #18CAFF;
    color: #FFF;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.transparent_button {
    width: 189px;
    height: 55px;
    padding: 5px;
    border-radius: 89px;
    border: 0.888px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
    cursor: pointer;
}

/* ------------------------------------------------------------------------- */