.imageslider_main_container {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
}

.imageslider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card_arrow_right,
.card_arrow_left {
    margin: 0 24px 0 24px;
    background:  var(--color4);
    color: #FFF;
    width: 52px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 8px;
    cursor: pointer;

}

.card_arrow_right {
    position: absolute;
    top: 45%;
    right: 1%;

}

.card_arrow_left {
    position: absolute;
    top: 45%;
    left: 1%;
}

.card_arrow_right:hover,
.card_arrow_left:hover {
    color:  var(--color4);
    background: #FFF;
}

.slide_active {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.slide {
    display: none;
}

@media (max-width: 500px) {
    .card_arrow_right,
    .card_arrow_left {
        width: 50px;
        height: 30px;
    }
}

@media (max-width: 340px) {
    .card_arrow_right,
    .card_arrow_left {
        width: 40px;
        height: 20px;
    }
}