.service_container {
    position: relative;
    height: 60vh;
    width: 90vw;
    flex-shrink: 0;
    margin: 0 0 36px 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: space-evenly;
}

.service_container_screen {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
}

.service_title_button_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 56px 0 56px;
    height: 100%;
}

.service_title {
    color: #FFF;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    width: 100%;
    margin: 0;
    z-index: 2;
}

.button_anchor_container {
    z-index: 2;
    text-decoration: none;
    width: 189px;
}

.service_button {
    display: flex;
    width: 189px;
    height: 55px;
    padding: 5.011px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 88px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
    cursor: pointer;
    margin: 0;
    z-index: 2;
}

.service_button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #18CAFF;
    font-weight: 700;
    border: #18CAFF solid 1px;
}

@media (max-width: 1150px) {
    .service_title {
        font-size: 36px;
    }
}

@media (max-width: 1070px) {
    .service_title {
        font-size: 32px;
    }
}


@media (max-width: 530px) {
    .service_title {
        font-size: 24px;
        line-height: 30px;
    }
    .service_button {
        width: 130px;
        height: 45px;
        padding: 5px;
        border-radius: 89px;
        font-size: 18px;
    }
}

@media (max-width: 370px) {
    .service_title {
        font-size: 18px;
        line-height: 25px;
    }
    .service_title_button_container {
        display: inline;
        align-items: center;
        text-align: center;
        z-index: 5;
    }
    .service_title {
        margin: 56px 0 56px 0;
    }
}

@media (max-width: 280px) {
    .service_title {
        font-size: 16px;
        line-height: 20px;
    }
}