.logos_main_container {
    display: flex;
    justify-content: space-around;
    width: 144px;
    padding: 30px 106px 0 0;
}

.insta_logo,
.linke_logo,
.whatsapp_logo {
    width: 24px;
    height: 24px;
    color: #FFF;
    padding: 0;
}

.insta_logo:hover,
.linke_logo:hover,
.whatsapp_logo:hover {
    width: 24px;
    height: 24px;
    color: #006D8F;
    padding: 0;
}

@media(max-width: 830px) {
    .logos_main_container {
        padding: 25px 0 0 0;
    }
}