.logos_main_container {
    display: flex;
    justify-content: space-around;
    width: 144px;
    padding: 30px 106px 0 0;
}

.insta_logo,
.linke_logo,
.whatsapp_logo {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    padding: 0;
}