.us_top_section_main_container {
    margin-top: 100px;
}

.us_top_section_image_container {
    width: 100%;
    height: 570px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(66, 66, 66, 0.10) 45.31%, rgba(255, 255, 255, 0.00) 100%), url("../../../public/assets/image-us-top.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.us_top_title {
    margin: 100px 0 0 300px;
    z-index: 2;
    padding: 0;
    color: #fff;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: fit-content;
}

.styling_word {
    color: #FFF;
}

.us_middle_section_main_container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.us_middle_section_description_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.us_subtitle {
    margin: 48px 0 24px 0;
    color: #3D3D3D;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.us_paragraph {
    margin: 0 0 48px 0;
    text-align: center;
    color: #3D3D3D;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
}

.us_middle_section_cards_container {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0 0 48px 0;
}

.us_lower_section_main_container {
    width: 100%;
    height: auto;
    background: var(--color5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us_lower_section_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.us_lower_section_characteristics_main_container {
    margin: 48px 0 48px 0px;
    display: flex;
}

.us_lower_section_characteristics_main_container svg {
    height: 150px;
    width: 150px;
    color:  var(--color4);
}

@media (max-width: 960px) {
    .us_middle_section_cards_container {
        width: 90%;
    }
}

@media (max-width: 750px) {
    .us_lower_section_characteristics_main_container svg  {
        height: 120px;
        width: 120px;
    }
    .us_lower_section_main_container {
        height: 600px;
    }
    .us_top_title {
        margin: 100px 0 0 100px;
    }
}

@media (max-width: 690px) {
    .us_middle_section_cards_container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .us_top_section_image_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 510px) {
    .us_lower_section_characteristics_main_container {
        margin-top: 30px;
    }
}

@media (max-width: 400px) {
    .us_top_title {
        margin: 24px 0 0 16px;
    }
    .us_lower_section_characteristics_main_container svg {
        height: 80px;
        width: 80px;
        color: #18CAFF;
    }
}

@media (max-width: 310px) {
    .us_lower_section_characteristics_main_container svg {
        display: none;
    }
    .us_top_title {
        font-size: 36px;
    }
    .us_subtitle {
        font-size: 20px
    }
    .us_paragraph {
        font-size: 16px
    }
}

@media (max-width: 310px) {
    .us_top_title {
        font-size: 24px;
    }
}

@media (max-width: 270px) {
    .us_lower_section_main_container {
        height: 950px;
    }
}
