.card_home_service_container {
    width: 335px;
    height: 444px;
    border-radius: 15px;
    margin: 0px 12px 36px 64px;
    display: flex;

}

.card_home_service_container_blind {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 335px;
    height: 444px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

.card_home_service_title_container {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.card_home_service_title {
    color: #FFFFFF;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
    width: 100%;
}

.white_button_sm {
    width: 189px;
    height: 55px;
    padding: 3px;
    border-radius: 89px;
    border: 0.888px solid  var(--color4);
    color: #FFFFFF;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
    cursor: pointer;
    background-color:  var(--color4);
    margin-bottom: 24px;
}

.white_button_sm:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width: 1200px) {
    .card_home_service_container,
    .card_home_service_container_blind {
        width: 292px;
        height: 420px;
    }
    .card_home_service_title {
        font-size: 14px;
    }
}

@media(max-width: 500px) {
    .card_home_service_container,
    .card_home_service_container_blind {
        width: 222px;
        height: 320px;
    }
    .white_button_sm {
        width: 130px;
        height: 45px;
        padding: 5px;
        border-radius: 89px;
        font-size: 18px;
    }
    .card_home_service_title {
        font-size: 10.5px;
    }
}