.card_home_service_container {
    width: 392px;
    height: 520px;
    border-radius: 15px;
    margin: 0px 12px 36px 64px;
    display: flex;

}

.card_home_service_container_blind {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 392px;
    height: 520px;
    border-radius: 15px;
    overflow-wrap: break-word;
}

.card_home_service_title {
    color: #FFFFFF;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
    height: 120px;
    width: 100%;
}

.white_button_sm {
    width: 189px;
    height: 55px;
    padding: 3px;
    border-radius: 89px;
    border: 0.888px solid #18CAFF;
    color: #FFFFFF;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: transparent;
    cursor: pointer;
    background-color: #18CAFF;
    margin-bottom: 24px;
}

.white_button_sm:hover {
    background-color: rgba(0, 0, 0, 0.5);
}