.serviceone_article_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.service_subtitle_and_characteristics_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #3D3D3D;
    text-align: left;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 24px;
    width: 30vw;
}

.service_subtitle {
    color: black;
    text-align: left;
    font-family: "futuraLtBt";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    width: 80%;
    margin: 0px 0 0 0;
}


.service_characteristics_item {
    padding-bottom: 8px;
    text-align: left;
}

@media (max-width:920px) {
    .service_subtitle {
        font-size: 32px;
        width: auto;
    }
}

@media (max-width: 900px) {
    .service_subtitle {
        width: 100%;
        text-align: center;
    }
    .service_subtitle_and_characteristics_container {
        width: 70vw;
        align-items: center;
    }
    .service_characteristics_item {
        margin: 0;
    }
}

@media (max-width: 370px) {
    .service_subtitle {
        font-size: 24px;
    }
    .service_characteristics_item {
        font-size: 16px;
    }
}

@media (max-width: 255px) {
    .service_subtitle {
        font-size: 18px;
    }
}