.card_slider_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card_arrow_left,
.card_arrow_right {
    margin: 0 24px 0 24px;
    background: #FFF;
    color: #3D3D3D;
    width: 60px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 16px;
    cursor: pointer;
}

.card_arrow_left:hover,
.card_arrow_right:hover {
    background: #18CAFF;
    color: #FFF;
}

.cards_slider_container {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}