.contact_main_section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    flex-shrink: 0;
    margin-top: 0.5px;
    background: linear-gradient(180deg, rgba(45, 187, 229, 0.50) 0%, rgba(158, 233, 255, 0.10) 30.98%, rgba(45, 187, 229, 0.00) 68.36%);
    margin-top: 100px;
}

.contact_title {
    margin: 110px 0 50px 0;
    color: #3D3D3D;
    font-family: "futuraLtBt";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 92%;
    letter-spacing: -2.32px;
    text-align: right;
}

.contact_paragraph {
    margin: 0px 0px 30px 0px;
    width: 500px;
    text-align: center;
    color: #3D3D3D;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact_form {
    width: 600px;
}

.contact_form_sections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    color: #3D3D3D;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 16px 0px 5px 0px;
}

input,
select {
    width: 600px;
    height: 40px;
    border-radius: 16px;
    border: 1px solid #18CAFF;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding-left: 12px;
}

input::after {
    border-color: #18CAFF;
}

#message {
    height: 200px;
}

.button_contact {
    display: flex;
    width: 189px;
    height: 55px;
    padding: 5.011px;
    justify-content: center;
    align-items: center;
    gap: 5.011px;
    border-radius: 88.809px;
    background: #18CAFF;
    color: #FFF;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-bottom: 110px;
    margin-top: 30px;
}

textarea {
    width: 600px;
    height: 160px;
    border-radius: 16px;
    border: 1px solid #18CAFF;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}