.card_project_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 10vh;
}

.card_project_image_container {
    height: 70vh;
    width: 80vw;
    overflow: hidden;
    background: rgba(24, 202, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.card_project_image {
    height: 90%;
}

.card_project_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 80vw;
    background: #18CAFF;
    border-radius: 0 0 10px 10px;
}

.card_project_title {
    color: #FFF;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    text-align: center;
}

.card_project_description {
    color: #FFF;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}