.servicefive_main_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.servicefive_title {
    color: black;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin: 100px 0 0 0;
}

.servicefive_titleanddescription_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicefive_paragraph {
    display: block;
    margin: 40px 0 40px 0;
    width: 800px;
    justify-content: center;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.servicefive_cards_main_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}