.projects_page_main_container {
    background: linear-gradient(180deg, rgba(45, 187, 229, 0.50) 0%, rgba(158, 233, 255, 0.10) 3%, rgba(45, 187, 229, 0.00) 68.36%);
    margin-top: 100px;
}

.projects_page_sociallogos_container {
    display: flex;
    justify-content: flex-end;
}

.projects_texts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
}

.projects_title {
    margin: 0;
    padding: 0;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects_paragraph {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 812px;
}

.projects_container {
    display: flex;
    flex-direction: column;
}

.projects_cards_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.card_arrow_left {
    position: absolute;
    left: 15%;
    top: 40%;
    margin: 0 24px 0 24px;
    background: #18caff;
    color: #FFF;
    width: 60px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    cursor: pointer;
}

.card_arrow_right {
    position: absolute;
    right: 15%;
    top: 40%;
    margin: 0 24px 0 24px;
    background: #18caff;
    color: #FFF;
    width: 60px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    cursor: pointer;
}