.projects_page_main_container {
    background: #2dbbe51a;
}

.projects_page_sociallogos_container {
    display: flex;
    justify-content: flex-end;
}

.projects_texts_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
}

.projects_title {
    margin: 0;
    padding: 0;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects_paragraph {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 812px;
}

.projects_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.projects_slider_images_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;;
    margin-top: 56px;
}

.projects_text_container {
    border-bottom: 1px solid #3D3D3D;
    
}