.card_gear_des_main_container {
    width: 90vw;
    height: 90vh;
    background: rgba(111, 0, 255, 1);
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(24, 202, 255, 0.25);
}

.card_gear_des_title {
    color: #FFF;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin: 100px 0 0 0;
}

.card_gear_des_paragraph {
    display: block;
    margin: 40px 40px 40px 40px;
    color: #FFF;
    text-align: justify;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@media (max-width: 710px) {
    .card_gear_des_paragraph {
        font-size: 18px;
    }
    .card_gear_des_title {
        font-size: 44px;
    }
}

@media (max-width: 590px) {
    .card_gear_des_paragraph {
        font-size: 16px;
        margin: 0px 40px 0px 40px;
    }
    .card_gear_des_title {
        font-size: 32px;
    }
}

@media (max-width: 475px) {
    .card_gear_des_paragraph {
        font-size: 15px;
        margin: 0px 20px 0px 20px;
        line-height: 130%;
    }
    .card_gear_des_title {
        font-size: 28px;
        line-height: 100%;
        margin: 100px 0 20px 0;
    }
}

@media (max-width: 425px) {
    .card_gear_des_title {
        font-size: 24px;
        margin: 115px 0 20px 0;
    }
}

@media (max-width: 300px) {
    .card_gear_des_paragraph {
        font-size: 15px;
        margin: 0px 10px 0px 10px;
        line-height: 110%;
    }
}

@media (max-width: 255px) {
    .card_gear_des_title {
        font-size: 20px;
        margin: 115px 0 20px 0;
    }
}