.serviceone_main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(45, 187, 229, 0.50) 0%, rgba(158, 233, 255, 0.10) 30.98%, rgba(45, 187, 229, 0.00) 68.36%);
    margin-top: 100px;
}

.serviceone_title {
    color: black;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    width: 692px;
    margin: 100px 0 0 0;
}

.serviceone_paragraph {
    width: 55%;
    margin: 40px 0 40px 0;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.serviceone_article_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
    width: 80vw;
    border: rgba(45, 187, 229, 0.50) solid 1px;
    box-shadow: 0px 4px 15px 0px rgba(24, 202, 255, 0.25);
    border-radius: 16px;
}

@media (max-width: 900px) {
    .serviceone_article_container {
        flex-direction: column;
    }
}

@media (max-width: 735px) {
    .serviceone_title {
        font-size: 44px;
        width: 90%;
    }
}

@media (max-width: 320px) {
    .serviceone_title {
        font-size: 36px;
    }
    .serviceone_paragraph {
        font-size: 16px;
    }
}

@media (max-width: 275px) {
    .serviceone_title {
        font-size: 28px;
    }
}