header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

.header_nav_container {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--sm);
    font-weight: bold;
    background: #FFF;
}

.a_logo {
    margin-left: 80px;
}

.header_logo_container {
    height: 125px;
    width: 125px;
    background: url("../../../public/assets/headerlogo.png");
    background-size: cover;
}

.header_nav_ul {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 0px 0px 246px;
    padding: 0;
}

.header_nav_ul li a {
    text-decoration: none;
    padding: 24px 0 24px;
    margin-right: 40px;
    padding-top: 38px;
    padding-bottom: 38px;
    color: #000;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_nav_ul li a:hover {
    color: #18CAFF;
}

.active_page {
    position: relative;
    display: inline-block;    
}

.active_page:visited {
    color: #18CAFF;  
}

.active_page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 100%;
    height: 10px;
    background-color: #18CAFF;
    border-radius: 8px;
}

.contact_header_button_container {
    list-style: none;
    padding: 0;
}

#cotiza_header_button {
    text-decoration: none;
    display: flex;
    width: 221px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #18CAFF;
    color: #FFF;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#cotiza_header_button:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #18CAFF;
    font-weight: 500;
    border: #18CAFF solid 1px;
}


/* This is for the menu when width < 960px */

.responsive_menu_list {
    width: 100%;
    height: 100%;
    background-color: #18CAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0;
    position: fixed;
    top: 100px;
}

.responsive_menu_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18CAFF;
    width: 100%;
    padding: 12px 0 12px 8px;
    /* border: solid 1px #FFF; */
}

.responsive_menu_list_item_anchor {
    text-decoration: none;
    color: #000;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_hided {
    display: none;
}

/* This is for show services */

.show_services {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 2px 0 0 0; 
    position: fixed;
    top: 100px;
    right: 20%;

}

.show_services li {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #18CAFF;
    width: 100%;
    padding: 8px 0 8px 8px;
    border: solid 1px #FFF;
}

.show_services li a {
    text-decoration: none;
    color: #000;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.show_services_hided {
    display: none;
}


@media(max-width: 1200px) {
    #cotiza_header_button {
        width: 150px;
    }
}

@media(max-width: 1075px) {
    #cotiza_header_button {
        width: 85px;
        border-radius: 10px;
    }
}

@media(max-width: 960px) {
    .header_nav_ul,
    .contact_header_button_container {
        display: none;
    }
    .a_logo {
        margin-left: 0px;
    }
}

@media(max-width: 830px) {
    header {
        width: 100vw;
    }
}


@media(min-width: 960px) {
    .responsive_menu_container {
        display: none;
    }
}

