.testgear_article_main_container {
    display: flex;
    position: relative;
}

.testgear_article_container {
    margin: 18px;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(24, 202, 255, 0.25);
    border-radius: 30px;
}

.testgear_image_container {
    display: flex;
    justify-content: center;
}

.testgear_image {
    width: 300px;
    object-fit: cover;
}

.testgear_name {
    margin: 0;
    color: #3D3D3D;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testgear_brand,
.testgear_model {
    margin: 0;
    color: #3D3D3D;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.testgear_buttons_container {
    display: flex;
    flex-direction: column;
}

.testgear_description_button,
.testgear_eett_button  {
    height: 54px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background:  var(--color4);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    box-shadow: 0px 0px 0px 0px rgba(24, 202, 255, 0.25);
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.testgear_eett_button {
    border-radius: 0px 0px 30px 30px;
}

.testgear_eett_button a {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.testgear_show_description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.testgear_hide_description {
    display: none;
}

.card_gear_des_close_icon {
    position: absolute;
    right: 20px;
    top: 80px;
    cursor: pointer;
    color:  white;
    width: 44px;
    height: 44px;
    z-index: 55;
}

@media (max-width: 435px) {
    .testgear_article_container {
        width: 85%;
    }
    .testgear_name {
        font-size: 24px;
    }
    .testgear_brand,
    .testgear_model {
        font-size: 18px;
    }
    .testgear_description_button,
    .testgear_eett_button,
    .testgear_eett_button a {
        font-size: 18px;
    }
    .testgear_image {
        width: 75%;
    }
}

@media (max-width: 750px) {
    .card_gear_des_close_icon {
        width: 36px;
        height: 36px;
        top: 68px;
        right: 4px;
    } 
}

@media (max-width: 300px) {
    .card_gear_des_close_icon {
        width: 32px;
        height: 32px;

    } 
}