.services_header_main_container {
    display: flex;
    justify-content: center;
    height: 724px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(45, 187, 229, 0.50) 0%, rgba(158, 233, 255, 0.10) 30.98%, rgba(45, 187, 229, 0.00) 68.36%);
    margin-top: 100px;
}

.services_header_container {
    width: 100vw;
    height: 659px;
    position: relative;
    align-items: center;
}

.services_header_image_1 {
    width: 30%;
    height: 90%;
    object-fit: cover;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
    left: 10%;
    opacity: 0.5;
}

.services_header_image_2 {
    width: 30%;
    height: 60%;
    object-fit: cover;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
    right: 8%;
    opacity: 0.5;
}

.social_logos_position {
    width: 250px;
    position: absolute;
    right: 0px;
}

.services_header_main_title {
    color: #FFF;
    font-family: "futuraLtBt";
    font-size: 58px;
    font-style: normal;
    font-weight: bolder;
    line-height: 92%;
    letter-spacing: -2.32px;
    text-align: right;
    text-shadow: 10px 10px 14px rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 25%;
    left: 30%;
    margin: 0px;
    width: 686px;
    height: 214px;
}

.styling_word {
    color: #18CAFF;
    font-weight: bolder;
}

.services_header_paragraph {
    color: #3D3D3D;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 508px;
    height: 125px;
    position: absolute;
    top: 65%;
    right: 15%;
    text-align: justify;
    margin: 0;
}

.services_content_main_container {
    background: rgba(45, 187, 229, 0.10);
    display: flex;
    justify-content: center;
}

.services_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services_content_title {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin: 76px 0 0 0; 
}

.services_content_paragraph {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
    height: 75px;
    margin: 36px 0 76px 0;
}

.services_content_subtitle {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin: 0 0 40px 0;
}

@media (max-width: 1160px) {
    .services_header_paragraph {
        right: 5%;
    }
}

@media (max-width: 1000px) {
    .services_header_main_title {
        left: 10%;
    }
}

@media (max-width: 950px) {
    .services_header_image_1 {
        display: none;
    }
}

@media (max-width: 850px) {
    .services_content_paragraph {
        
    }
}

@media (max-width: 800px) {
    .services_header_main_title {
        left: 1%;
        font-size: 48px;
        text-align: center;
        margin: 0;
        width: 80%;
    }
}

@media (max-width: 600px) {
    .services_content_paragraph {
        height: 180px;
    }
    .services_header_paragraph {
        width: 90%;
        height: 250px;
    }
}

@media (max-width: 500px) {
    .services_header_image_2 {
        display: none;
    }
    .services_header_main_title {
        left: 7%;
    }
}

@media (max-width: 370px) {
    .services_content_paragraph {
        height: 300px;
    }
    .services_header_paragraph {
        display: none;
    }
    .services_content_title,
    .services_content_subtitle {
        font-size: 24px;
    }
}

@media (max-width: 370px) {
    .social_logos_position {
        width: 100%;
        position: absolute;
        right: 0px;
    }
}


@media (max-width: 280px) {
    .services_content_paragraph {
        display: none;
    }
    .services_header_main_title {
        font-size: 36px;

    }
}