.footer_main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  var(--color4);
    width: 100%;
    height: 340px;
}

.footer_nav_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer_logo_container {
    margin-top: 40px;
    margin-right: 350px;
}

.logo_hvt_footer {
    height: 176px;
    margin-left: 32px;
}

.footer_central_container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 752px;

}

.footer_central_container ul {
    list-style: none;
    color: #FFFF;
    margin: 0;
    padding: 0;
    text-align:justify;
}

.botton_rights {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 34px;
    margin: 0;
    border-top: 1px solid #FFF;
}

.botton_rights ul {
    list-style: none;
    color: #FFF;
    font-size: 14px;
    padding: 30px 0 0 0;
    margin: 0 0 0 2%;
}


@media(max-width: 1500px) {
    .footer_logo_container {
        margin-right: 0;
    }
    .footer_nav_container {
        justify-content: center;
    }
}

@media(max-width: 1255px) {
    .botton_rights {
        width: auto;
        display: flex;
    }
    .botton_rights ul {
        margin-right: 24px;
    }

}

@media(max-width: 830px) {
    .botton_rights {
        display: none;
    }
    .footer_central_container {
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 10px;
        width: auto;
    }
    .footer_nav_container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 500px;
    }
}

@media(max-width: 500px) {
    .logo_hvt_footer {
        display: none;
    }
}