.personal_card_container {
    width: 292px;
    height: 347px;
    border-radius: 14.747px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(24, 202, 255, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.image_card_container {
    margin-top: 55px;
    width: 158px;
    height: 158px;
    border-radius: 158px;
    border: 6px solid #18CAFF;
}

.image_card_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 158px;
}

.content_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_card_container h3 {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.content_card_container h4 {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.us_social_logos_container_personal_card {
    right: 106px;
    color: black;
    margin: 10px 0 0 0;
}

.card_linke_logo {
    width: 24px;
    height: 24px;
    color: #18CAFF;
    padding: 0;
}